.login.dark-background
  %h1.login__title= t('.title')

  %p
    For our readers to trust your reviews, we’ve made a decision
    not to allow posting anonymously or under a pseudonym.
  %p
    That’s why we ask you to log in using one of these
    public accounts you probably already have:

  .login__providers
    - Identity.providers.keys.each do |provider|
      = link_to "/auth/#{provider}", class: 'login__provider button' do
        = inline_svg "icons/#{provider}", class: 'button__icon'
        %span.button__text= t(provider, scope: 'sessions.new.providers')

  %p
    We will never use your details to post to your social media.
    If you’re unsure, we invite you to ask a technically-minded friend to
    = link_to 'take a look at our source code', 'http://github.com/fauxparse/playbyplay.nz', target: :_blank, class: 'text-link'
    to verify that we really can’t.

  = link_to root_path, class: 'login__logo' do
    = inline_svg 'icons/logo'
