= link_to submission, class: class_string('submission', "submission--#{submission.state}") do
  .submission__info
    .submission__production= submission.review.production.name
    .submission__review
      %span.submission__reviewer= submission.review.reviewer.name
      %span.submission__time= t('.ago', age: time_ago_in_words(submission.created_at))
