.moderation__review
  .breadcrumbs
    = link_to t('submissions.index.title'), submissions_path

  .moderation__title
    = "#{submission.reviewer}’s"
    review of
    = submission.production

  = m submission.review.text

= render "moderation_#{submission.state}"
