!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %title Play by Play

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .page-content
      - if logged_in?
        = "Logged in as #{current_user}"
        = link_to 'Log out', logout_path, method: :delete
      = yield

    = render '/sessions/login_form' unless logged_in? || current_page?(login_path)
